<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="stylesheet" href="styles/index.css" type="text/css">

  <title>Exif Reader</title>
</head>
<body>

    <main role="main">
        <div class="left">
            <form></form>
        </div>

        <div class="right">
            <table></table>
        </div>
    </main>

    <script id="form-template" type="template">
        <input type="file">
        <div>
            <img class="preview" src="<%= src %>">
        </div>
    </script>

    <script id="table-template" type="template">
        <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <% if (!exif) {%>
                <tr>
                    <td colspan="2">No image selected</td>
                </tr>
            <%} else if (!_.keys(exif).length) {%>
                <tr>
                    <td colspan="2">No exif data found</td>
                </tr>
            <% } else {%>
                <% _.each(exif, function(val, key) { %>
                    <tr>
                        <td><%= key %></td>
                        <td><%= val %></td>
                    </tr>
                <% }); %>
            <% } %>
        </tbody>
    </script>

  <script src="vendor/exif-parser-0.1.7.js"></script>
  <script src="vendor/jquery.js"></script>
  <script src="vendor/lodash.js"></script>

  <script src="src/app.js"></script>
</body>
</html>
